*{
  font-family: cursive;
}
h1 {
  font-size: 5rem;
  line-height: 70%;
  margin: 2.8rem auto 1.68rem auto;
}
.react-switch {
  vertical-align:sub;
  margin-left: 2vw;
  margin-right: 4vw;
}
.wrapper{
  display:inline-block;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.text1{
  font-size: 2rem;
}
.text2{
  font-size: 2rem;
  line-height: 70%;

}
.letter-cell-text{
  font-size: 10rem;
  margin: auto;
}
.btn{
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.wordParentClass{
  width:98%;
  border-radius: 3px;
  margin:auto;
  height: 35vh;
  margin-bottom: 3vh;
}
.letterParentClass{
  width: 98%;
  border-radius: 3px;
  margin: auto;
  height: 30vh;
  margin-bottom: 3vh;
}
.imageClass{
  line-height: 35vh;
  text-align: center;
  margin: auto;
}
.wordClass{
  line-height: 35vh;
  text-align: center;
  margin: auto;
  font-size:4rem;
}
